In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
energy = pd.read_csv("energydata_complete.csv")
energy

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [3]:
energy.describe(include = 'all')

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-01-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [4]:
energy.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [5]:
#Question 12
simple_linear_reg_df = energy[['T2', 'T6']].sample(20, random_state = 42)

In [6]:
#Question 13
#drop the date and light column
energy = energy.drop(columns = ['date', 'lights'])
energy

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [11]:
#normalising the dataset
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(energy), columns= energy.columns)
features_data =normalised_data.drop(columns =['Appliances'])
target_data = normalised_data['Appliances']
target_data

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [13]:

#splitting the data into training and test set
x_train, x_test, y_train, y_test = train_test_split(features_data, target_data, test_size= 0.3, random_state= 42)
#fitting the model to the traning set
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
#obtaining the predicted values
predicted_values = linear_model.predict(x_test)
predicted_values

array([0.03322138, 0.24409785, 0.03402339, ..., 0.06842341, 0.10031428,
       0.05724063])

In [14]:
#Mean absolute error
mae= mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [15]:
#Question 14
#Residual sum of squares
rss= np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [17]:
#Question 15
#Root mean squared error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [18]:
#Qustion 16
#co-efficient of determination
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [20]:
#Question 17
#Feature weights from linear model
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, "Linear_Model_Weight")
linear_model_weights

       Features  Linear_Model_Weight
0           rv1        -7.920800e+10
1          RH_2        -4.568602e-01
2         T_out        -3.219087e-01
3            T2        -2.363151e-01
4            T9        -1.899521e-01
5          RH_8        -1.576331e-01
6        RH_out        -7.765954e-02
7          RH_7        -4.455998e-02
8          RH_9        -3.980982e-02
9            T5        -1.564582e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.865117e-03
12           T7         1.029490e-02
13   Visibility         1.229919e-02
14         RH_5         1.600441e-02
15         RH_4         2.641767e-02
16           T4         2.900741e-02
17    Windspeed         2.920699e-02
18         RH_6         3.806579e-02
19         RH_3         9.603256e-02
20           T8         1.020032e-01
21    Tdewpoint         1.177851e-01
22           T6         2.364673e-01
23           T3         2.907420e-01
24         RH_1         5.535923e-01
25          rv2         7.920800e+10

In [26]:
#Question18
predicted_values2 = ridge_reg.predict(x_test)
ridge_reg= Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values2))
round(rmse, 3)

0.088

In [23]:
#Qusetion 19
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)
lasso_weights_df = get_weights_df(lasso_reg, x_train, "Lasso_Weight")
final_weights = pd.merge(linear_model_weights,lasso_weights_df, on = "Features" )
final_weights

       Features  Linear_Model_Weight  Lasso_Weight
0           rv1        -7.920800e+10     -0.000000
1          RH_2        -4.568602e-01     -0.000000
2         T_out        -3.219087e-01      0.000000
3            T2        -2.363151e-01      0.000000
4            T9        -1.899521e-01     -0.000000
5          RH_8        -1.576331e-01     -0.000110
6        RH_out        -7.765954e-02     -0.049557
7          RH_7        -4.455998e-02     -0.000000
8          RH_9        -3.980982e-02     -0.000000
9            T5        -1.564582e-02     -0.000000
10           T1        -3.281051e-03      0.000000
11  Press_mm_hg         6.865117e-03     -0.000000
12           T7         1.029490e-02     -0.000000
13   Visibility         1.229919e-02      0.000000
14         RH_5         1.600441e-02      0.000000
15         RH_4         2.641767e-02      0.000000
16           T4         2.900741e-02     -0.000000
17    Windspeed         2.920699e-02      0.002912
18         RH_6         3.806579e-02     -0.000000
19         RH_3         9.603256e-02      0.000000
20           T8         1.020032e-01      0.000000
21    Tdewpoint         1.177851e-01      0.000000
22           T6         2.364673e-01      0.000000
23           T3         2.907420e-01      0.000000
24         RH_1         5.535923e-01      0.017880
25          rv2         7.920800e+10     -0.000000

In [29]:
#Question 20
predicted_values3 = lasso_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values3))
round(rmse, 3)

0.094